<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Neo Turf Birdie</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa Neo Turf Birdie tekstilaudalle</h1>
        <h2>Suomen parhaat golf keskustelut!</h2>
        <h2>Laudat</h2>
        <ul style="list-style-type: none">
            <li th:each="lauta : ${laudat}">
                <p><a th:href="@{~/{id}(id=${lauta.nimi})}" 
                   th:text="${lauta.nimi}">Lauta</a></p>
                <p>Viestien maara: <span th:text="${lauta.maara}">Viestien maara</span> </p>
                <p>Viimeisin viesti: <span th:text="${lauta.viimeisin.aika}">Aika</span></p>
                
            </li>
        </ul>
    </body>
</html>