<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KMS-Public</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lanka: <span th:text="${lanka.otsikko}">otsikko</span></h1>
        <h2>Viestit</h2>
        <ol>
            <li th:each="viesti : ${viestit}">
                <p><a th:text="${viesti.sisalto}">Viesti</a> T: <span th:text="${viesti.nimimerkki}">Nimimerkki</span></p>
            </li>
        </ol>
        <form method="POST">
            <p>Viesti: <input type="text" name="viesti"/></p>
            <p>Nimimerkki: <input type="text" name="nimimerkki"/></p>
            <input type="submit" value="Post"/>
        </form>
    </body>
</html>