<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Neo Turf Birdie</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lanka: <span th:text="${lanka.otsikko}">otsikko</span></h1>
        <h2>Viestit</h2>
        <ul>
            <li th:each="viesti : ${viestit}">
                <p>
                    <span th:text="${viesti.nimimerkki}">Nimimerkki</span>
                    <span th:text="${viesti.aika}">Aika</span>
                    No. <span th:text="${viesti.id}">ID</span>
                </p>
                <p><span th:text="${viesti.sisalto}">Sisalto</span></p>
            </li>
        </ul>
        <form method="POST">
            <p><textarea name="viesti" rows="10" cols="50">Viestisi</textarea></p>
            <p>Nimimerkki: <input type="text" name="nimimerkki"/></p>
            <input type="submit" value="Post"/>
        </form>
    </body>
</html>