<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KMS-Public</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${lauta.nimi}">otsikko</span></h1>
        <h2>"<span th:text="${lauta.motd}">motd</span>"</h2>
        <h2>Langat</h2>
        <ul style="list-style-type: none">
            <li th:each="lanka : ${langat}">
                <a th:href="@{~/langat/{id}(id=${lanka.id})}" 
                   th:text="${lanka.otsikko}" >Lauta</a>
            </li>
        </ul>
        <h3>Luo uusi lanka</h3>
        <form method="POST">
            <p>Otsikko: <input type="text" name="otsikko"/></p>
            <p><textarea name="viesti" rows="10" cols="50">Viestisi</textarea></p>
            <p>Nimimerkki: <input type="text" name="nimimerkki"/></p>
            <input type="submit" value="Luo"/>
        </form>

    </body>
</html>