<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KMS-Public</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${lauta}">otsikko</span></h1>
        <h2>Langat</h2>
        <ul>
            <li th:each="lanka : ${langat}">
                <a th:href="@{~/laudat/{id}(id=${lauta.nimi})}" 
                   th:text="${lauta.nimi}">Lauta</a>
                <span th:text="${lauta.motd}">Paivan_viesti</span> 

            </li>
        </ul>

    </body>
</html>